* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}


h3 {
    background: linear-gradient(45deg, #fd267a, #ff6036);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 10vh;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.card-container {
    margin: 1rem;
}

.card {
    background-color: rgb(248, 243, 241);
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .card-header {
        display: flex;
        justify-content:space-around;
        align-items: center;
    }

    .card-img {
        width: 60vh;
        height: auto;
        padding: 1rem;
        border-radius: 2px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    }

    img {
        width: 100%;
    }

    .card-body {
        padding: 1rem;
        width: 50%;
        border-radius: 2px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    }

    .card-title {
        margin-bottom: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

    .card-txt {
        text-align: justify;
    }

    .card-footer {
        display: flex;
        justify-content: space-around;
        padding: 1rem;

        button {
            border: none;
            background: linear-gradient(45deg, #fd267a, #ff6036);
            color: white;
            padding: 0.5rem 2rem;
            cursor: pointer;
            border-radius: 2px;
            height: 35px;

            &:hover {
                background: linear-gradient(45deg, #ff6036, #fd267a);
            }
        }

        span {
            padding: 1rem;
            border-radius: 2px;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        }
    }
}

.comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    form {
        width: 100%;
    }

    input {
        border-radius: 50px;
        border: 1px solid #ccc;
        width: 100%;
        padding: .5rem;
    }

    .comments-list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
    }

    .comment {
        position: relative;
        margin: 1rem;
    

        span {
            position: absolute;
            right: 10px;
            margin: 1rem;
            border: 1px solid black;
            padding: 1rem;
        }
        
        hr {
            margin: 1rem;
        }
    }

    .comment-like {
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;

        button {
            border: none;
            background: linear-gradient(45deg, #fd267a, #ff6036);
            color: white;
            padding: 0.2rem 1rem;
            cursor: pointer;
            border-radius: 2px;

            &:hover {
              background: linear-gradient(45deg, #ff6036, #fd267a);
            }
        }
    }
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 1s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
    position: absolute;
}

