/* Import fichier scss */
@import './scss/variables';
@import './scss/placeholders';

/* reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* style général */
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    text-align: center;
}
ul {
    list-style-type: none;
}
/* style spécifique */
h3 {
    background: linear-gradient(45deg, $main-color, $second-color);
    width: 30%;
    min-width: 260px;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 10vh auto;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: $shadow;
    animation: rotation 0.8s ease-out 1s;  
}
/* animation titre */
@keyframes rotation {
    from {
        opacity: 0;
        transform: rotate(360deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}
.showButton {
    height: 60px;
    @extend %base-button;
    padding: 0.5rem 2rem;
    background-color: $second-color;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 $second-color;
    animation: pulse 1.3s infinite;
}
/* animation bouton */
@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgb(255, 96, 54, 0.01);
    }
}
/* style post */
.card-container {
    margin: 1rem;
}
.card {
    background-color: rgb(248, 243, 241);
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
    display: flex;
    flex: wrap;
    justify-content: space-around;
    align-items: center;
}
.card-img {
    width: 60vh;
    height: auto;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: $shadow;
    margin-top: 1rem;

    img {
        width: 100%;
    }
}
.card-body {
    padding: 1rem;
    width: 50%;
}
.card-title {
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.card-txt {
    text-align: justify;
}
.card-footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    button {
        height: 35px;
        background: linear-gradient(45deg, $main-color, $second-color);
        @extend %base-button;
        padding: 0.5rem 2rem;
        letter-spacing: 2px;
        box-shadow: $shadow;
        
        &:hover {
            background: linear-gradient(45deg, $second-color, $main-color);
        }
    }

    span {
        padding: .5rem;
        border-radius: 2px;
        box-shadow: $shadow;
    }
}
/* style partie "taper commentaire" */
.comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    form {
        width: 100%;
    }

    input {
        border-radius: 50px;
        border: 1px solid #ccc;
        width: 100%;
        padding: .5rem;
    }
}
/* style affichage commentaire */
.comments-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}
.comment {
    margin-top: 1rem;

    hr {
        width: 100%;
        margin: 1rem auto; 
    }
}
.comment-like {
    text-align: right;
    margin-top: .5rem;

    button {
        @extend %base-button;
        background: linear-gradient(45deg, $main-color, $second-color);
        padding: 0.2rem 1rem;
    
        &:hover {
            background: linear-gradient(45deg, $second-color, $main-color);
        }
    }
}
/* Animation apparition listes (post et commentaires) */
.list-move,
.list-enter-active,
.list-leave-active {
    transition: all 1s ease;
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
.list-leave-active {
    position: absolute;
}




